
<html lang="en">
   <head>
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta charset="utf-8">
      <link rel="icon" href="https://i.imgur.com/ZAp9GVZ.png" />
      <title>Certificate | The Eye</title>
      <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
      <link rel="stylesheet" type="text/css" href="https://account.samsung.com/accounts/v1/resources/one-ui/css/default.css">
   </head>
   <body class="one-card-ui ng-scope block-ui block-ui-anim-fade" block-ui="main" aria-busy="false">
      <div class="wrapper ng-scope">
         <header class="one-header">
            <div class="header-inner">
               <div class="logo">
                  <h1><span><img src="\static\TheEye.png" style="filter:unset;min-height:65px;max-height:10vh!important"/></span></h1>
               </div>
            </div>
         </header>
         <main class="one-main new-login ng-scope" data-ng-controller="signInController as vm">
            <div class="main-inner">
               <div class="container">
                  <div class="title">
            <p> This certificate is provided by The Eye, CSEA (<a style="color: white; font-size: 15px;" href="https://psgtech.edu/" target="_blank">PSG College of Technology</a>). The Eye specializes in ensuring non-repudiation for the validity of certificates. Non-repudiation guarantees that the certificate's origin and authenticity cannot be denied by any party involved.</p><br/><br/>
            <img id="content" src="{{ user_image }}" alt="Certificate does not exist" style="max-width:100%!important" />
                  </div>
                  <div class="content">
                     <div class="one-forms-login">
                              

                           <div class="signin-tooltip">
                              <dl>
                                 <dt>QR-Based verification system provided to you by &nbsp;
                                    <a style="color: white; font-size: 15px;" href="https://www.linkedin.com/in/lohith-senthilkumar-98bb6a179/" target="_blank">Lohith S</a>&nbsp;&nbsp;
            <a style="color: white; font-size: 15px;" href="https://www.linkedin.com/in/hydrid/" target="_blank">Arun US</a>
                                 </dt>
                              </dl>
                           </div>
                     </div>
                  </div>
               </div>
            </div>
         </main>
         <footer class="one-footer" role="contentinfo">
            <div class="footer-inner">
               <div class="footer-logo"><img src="https://i.imgur.com/QlzP4jn.png" onerror="this.src='https://i.imgur.com/QlzP4jn.png';" alt="The Eye"></div>
               <address class="footer-address">The Eye "Visio Protectoris" Club, Computer Science and Engineering Association. PSG College of Technology.</address>
               <div class="footer-links" role="link">
                  <a href="https://cseatheeye.com/" title="Open links in a new window The Eye" target="_blank">Homepage</a>
               </div>
            </div>
         </footer>
      </div>
   </body>
</html>